*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
     list-style: none;
}
body{
    scroll-behavior: smooth;
    background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.top{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #b6d4f3;
}
.top-left{
    width: fit-content;
    display: flex;
    justify-content: space-between;
}
.input{
    margin-left: 50px;
}
.top-list{
    width: fit-content;
   list-style: none;
}
.top-list li{
    display: inline;
    margin-right: 20px;
    cursor: pointer;
}
 .top h2{
     font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  color: green;
}
.section{
    padding: 0.9rem;
    padding-left: 2.5rem;
    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: sticky;
    top: 0;

}
.section-list li{
    display: inline;
    margin: 3.5rem;
    cursor: pointer;
}
.input input{
    border-radius: 10px;
    outline: none;
  border-radius: 30em;
  border: 3px solid transparent;
    font-size: 0.9rem;
    padding: 0.5rem;
    background-color: white;
    width: 800px;
    
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}
#clear{
    position: absolute;
    right: 23%;
    background-color: white;
    border: none;
    cursor: pointer;
}
#search-icon{
    position: absolute;
    right: 20%;
    cursor: pointer;
    background-color: white;
    border: none;
}
.img-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem ;
    margin-bottom: 3rem;


}
.container{
    display: none;
      animation:fade 2s  0s  infinite forwards ;
}
@keyframes fade{
    from{
        opacity: 0.8;
    }to{
        opacity: 1;
    }
}
.img1{
    width: 1200px;
    height:600px;
    object-fit: scale-down;
}
.next{
    position: absolute;
    right: 5%;
    bottom: 5%;
    color: white;
    padding: 30px 10px;
    font-size: large;
}
.next:hover,
.previous:hover{
    background-color: black;
    opacity: 0.5;
}
.previous{
    position: absolute;
    left: 5%;
    bottom: 5%;
    color: white;
    padding: 30px 10px;
    font-size: large;
    
}
.fa-message{
    font-size: 20px;
    padding: 15px;
    border-radius: 100%;
    background-color:  white;
    position: fixed;
    right: 3px;
    bottom: 10px
}
.fa-message:hover,
.input input:hover
{
    transform: scale(1.1);
    transition: 200ms linear;
}

.droplist{
    display: none;
    position: absolute;
     top:4rem;
    background-color: rgb(255, 255, 255);
     z-index: 1;
    width:fit-content;
     height: 100vh;
     

}
.hello{
    background-color: rgb(122, 184, 235);
    padding:10px 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.droplist ul{
  padding: 20px;
display: block;
    border-bottom:solid 1px rgb(145, 143, 143);


}
.droplist li{
    padding: 10px;
 
}
.droplist li:hover{
    transform: scale(1.1);
    transition: transform 2s ease-out;
}

.show{
    display: block;
    width: 25%;
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.grid1{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    margin-left:61px;
        
    
}
.grid{
background: #ffffff;
background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(252, 245, 245, 1) 100%);
    width:280px;
    height:380px;
    margin-bottom: 30px;
     font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: small;
  padding-left:10px;
  border-radius: 13px;

}
.grid h3{
    padding:10px;
     font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.grid-img{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 250px;
    object-fit: scale-down;
}
.grid-img:hover{
    transform: scale(1.1);
    transition: transform 1s ;
}
.see{
    
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.see:hover{
    text-decoration: underline;cursor: pointer;
}
.rate{
    padding-top: 5px;
    font-size: medium;
    font-weight: 500;
}
#combo{
    max-width:fit-content;
    display: flex;
    column-gap: 30px;
    flex-direction:column;
    align-items: center;
}
.grid-combo1{
    padding-top: 20px;
}
.grid button{
    position: relative;
    left: 180px;
    bottom: 30px;
    padding: 3px 10px;
    border-radius:15px;
    outline: none;
    background-color: rgb(255, 255, 255);
     border:1px solid rgb(173, 173, 173);
      font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.grid-long{
    display: flex;
    width:1190px;
    background: #aeecee;
background: radial-gradient(circle, rgba(174, 236, 238, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-radius: 12px;
    margin-left: 58px;
    margin-bottom: 30px;
    
}
.grid-long img{
    width: 250px;
    height: 150px;
    object-fit: scale-down;
    padding: 20px;
}
.grid-text{
    padding: 30px;
}
.grid-long h3,
.grid-long p{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
}
.grid-long p{
    font-size: smaller;
}
.grid-long button{
    margin: 60px;
    width: 170px;
    background-color: #FF4B33;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
     font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.grid-long button:hover
{
    border: 1px solid black;
}
.overlay{
    z-index:2;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;   
    width: 100%;
    height: 100%;
    display: none;
}
.login-detail{
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 450px;
    padding-right: 25px;
    position: absolute;
    left: 35%;
    top: 15%;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    margin-bottom: 100px;
    z-index: 3;
    position: absolute;
    
    display: none;
}
.login-detail h2{
      font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  padding-left: 25px;
  color: black;
}
.login-detail input{
    font: 400;
    border: none;
    border-bottom:1px solid rgb(226, 226, 222) ;
    outline: none;
    padding-bottom: 5px;
    margin-left: 10px;
}
.t{
      font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
    padding-right: 120px;
    padding-top: 20px;
    font-size: small;
}
#password{
    font-size: 12px;
    padding-top:0 ;
    padding-left: 200px;
    padding-bottom: 20px;
}
.login-detail button{
      font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;

    font-size: medium;
    margin-left: 25px;
    padding: 8px;
    border-radius: 50px;
    border: none;
background: #18c1f5;
background: linear-gradient(90deg, rgba(24, 193, 245, 1) 0%, rgba(242, 24, 180, 1) 100%);
    width: 200px;
    cursor: pointer;
    color: white;

}
.sign{
    align-items: center;
    padding-top: 30px;
    margin-left: 20px;
    font-size: small;
}
.fa-google,
.fa-facebook,
.fa-x-twitter{
    padding: 5px;
      margin-left: 15px;
    font-size: medium;
    cursor: pointer;
}
.login-detail button:hover{
    scale: 1.05;
    transition: 0.8s ease-out;
}